.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;

}
.grid-item__logo1 {
  width: 112px;
  height: auto;
  
}
.grid-item__logo2 {
  width: 288px;
  height: auto;
}
.grid-item__logo3 {
  width: 156px;
  height: auto;
}
.grid-item__logo4 {
  width: 205px;
  height: auto;
}
.grid-item__logo5 {
  width: 131px;
  height: auto;
}
