@use "../../styles/variables" as *;

.logo-wrapper {
  overflow: hidden;
  background-color: $bg-darker;
  border-bottom: 1px solid $bg-border;
  padding: $spacing-lg 0;
  position: relative;

  .logo-track {
    display: flex;
    gap: 54px;
    width: max-content;
    will-change: transform;
    cursor: pointer;
  }
  .logo-item {
    display: flex;
    justify-content: center;
  }

  .logo-item img {
    opacity: 0.7;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    filter: brightness(0.9) grayscale(0.2);
    transform: scale(1);
    will-change: transform, filter, opacity;

    &:hover {
      opacity: 1;
      filter: brightness(1.1) grayscale(0);
      transform: scale(1.12);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
